h1 {
  color: black;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f8e8a6 !important;
  text-align: center !important;
}

.thephoto {
  width: 100%;
  max-width: 90%;

  border-radius: 10px !important;
  display: block !important;
  margin: 30px auto !important;
}

@media screen and (max-width: 1024px) {
  .thephoto {
    max-width: 70%; /* Adjust for large to medium screens */
  }
}

@media screen and (max-width: 768px) {
  .thephoto {
    max-width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .thephoto {
    max-width: 90%;
  }
}
